@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #0F0F0F;
    color: #DBDBDB;
}

body h1 {
    margin: 100px 0px 22px;
    text-align: center;
}

form {
    margin: auto;
    background-color: #DBDBDB;
    width: 834px;
    height: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}

#first-box {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    width: 220px;
    height: 110px;
}

#first-box input{
    width: 70px;
    height: 30px;
    margin: auto;
    padding: auto;
}

#second-box {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    width: 220px;
    height: 110px;
}

#second-box input{
    width: 70px;
    height: 30px;
    margin: auto;
    padding: auto;
}

#inputs-container {
    display: flex;
    gap: 130px; 
    margin-top: 64px;
}

#btn-converter {
    display: flex;
    margin-top: 30px;
    margin-bottom: 74px;
    background-color: #9FE870;
    outline: hidden;
    border: 0px;
    border-radius: 8px;
    font-weight: bold;
    padding: 16px 44px;
    justify-content: center;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0.3rem 0.3rem 0.2rem rgba(0, 0, 0, 0.5));
    cursor: pointer;
}

/* Input de baixo */

